{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="title icon" href="{% static 'images/logo.png'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>
        Voice Assistant
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>


<body>
    <div class="nav-bar">
        <nav class="navbar">
            <div class="container-fluid"><a class="brand" href="{% url 'home' %}"><img class="brand-logo-light"
                        src="{% static './images/logooo.png' %}" style="width:200px; height:90px;"
                        srcset="{% static './images/logooo.png' %}"></a>
            </div>
            <!-- <div class="voice-assistant">VOICE ASSISTANT</div> -->
        </nav>
    </div>
    <div class="main-div">
        <div class="main-div1">
            <section class="sec1">

                <div class="style">
                    <h1> Discover the Assistant Voice</h1>
                </div>
                <div class="can">
                    <h2> Voice Assistant can do :</h2>
                </div>
                <div class="color">
                    <h3>Work in multiple languages.</h3>
                    <h3> Answer all questions.</h3>
                    <h3>Show the search results in Google.</h3>
                    <h3> Entertainment</h3>
                    <h3> Information and knowledge.</h3>
                </div>

                <div class="can">
                    <h2> Use Assistance While :</h2>
                </div>

                <div class="play">
                    <div class="image">
                        <img src="https://www.pngkey.com/png/full/762-7622330_the-world-of-media-and-entertainment-entertainment-media.png"
                            style="height:81px;width:197px" ;>
                    </div>
                    <div class="caption">
                        <h3>Open Youtube.</h3>
                        <h3>Play recommended videos on youtube.</h3>
                        <h3>Play smooth Jazz on youtube.</h3>
                        <h3> Play old songs on youtube.</h3>
                    </div>
                </div>

                <div class="color1">
                    <div class="search">
                        <h3> Search cleopatra on wikipedia ?</h3>
                        <h3> Search who is the president & London ?</h3>
                        <h3> Search what time is it in Finland ?</h3>
                    </div>
                    <div class="image-search">
                        <img src=" https://img.favpng.com/12/11/8/infographic-big-data-vector-graphics-image-information-png-favpng-yEBAKywsRJNuJwTZ3yY0vcCrJ.jpg"
                            style="height:81px;width:197px" ;>
                    </div>
                </div>
                <div class="last">
                    <div class="last-image">
                        <img src=" https://www.trukky.com/blog/wp-content/uploads/2017/12/mumbai-to-guwahati.png "
                            style="height:81px;width:197px" ;>
                    </div>
                    <div class="last-caption">
                        <h4> where is malaysia ?</h4>
                        <h4> where are the restaurants near me?</h4>
                    </div>
                </div>
        </div>
        <div class="main-div2">
            <div class="main">
                <div class="main1">
                    <h1 class="head"> Choose language</h1>
                    <div class="lang_buttons">
                        <div>
                            <a href="{% url 'telugu' %}"><button class="but">తెలుగు</button></a>
                        </div>
                        <div>
                            <a href="{% url 'english' %}"><button class="but">ENGLISH </button></a>
                        </div>
                        <div>

                            <a href="{% url 'marathi' %}"><button class="but">मराठी</button></a>
                        </div>
                        <div>
                            <a href="{% url 'hindi' %}"><button class="but">हिंदी</button></a>
                        </div>
                        <div>
                            <a href="{% url 'tamil' %}"><button class="but"> தமிழ்</button></a>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        </div>
    </div>







    <!-- <div class="main1">

                <div class="gender" id="myDIV">
                    <div class="head1">SELECT YOUR VOICE</div>

                    <div class="gen-but">

                        <a href="{% url 'english'%}" target="_self"> <img src="{% static './images/men.png'%}"
                                class="img1">
                        </a>

                        <a href="{% url 'english'%}" target="_self"> <img src="{% static './images/female.png' %}"
                                class="img2"></a>
                    </div>


                </div>


            </div> -->


    <!-- <script>

        let isRecording = false;
        let recognition;

        window.onload = () => {
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        recognition = new SpeechRecognition();
        recognition.continuous = true;
        document.getElementById('mic').addEventListener('click', onClickMic);
        recognition.onresult = onSpeech;
        }

        function onClickMic(event) {
        event.target.classList.toggle('fa-microphone');
        event.target.classList.toggle('fa-microphone-slash');
        
        if (isRecording) {
            recognition.stop();
        } else {
            recognition.start();
        }
        
        isRecording = !isRecording;
        }

        function onSpeech(event) {
        const lastElIndex = event.results.length - 1;
        const text = event.results[lastElIndex][0].transcript;
        document.getElementById('text').value = text;
        }
        
    </script> -->





    <!-- 
    <script>

        window.onload = function () {
            document.getElementById('myDIV').style.display = 'none';
        };

        var buttons = document.querySelectorAll('.buttons button');



        var text = document.querySelector('.text');

        buttons[1].style.display = 'inline-block';
        buttons[2].style.display = 'inline-block';
        buttons[3].style.display = 'inline-block';
        buttons[4].style.display = 'inline-block';





        buttons.forEach(button => {

            button.addEventListener('click', () => {

                // text.textContent = "You Pressed" + button.textContent;

                switch (button) {

                    // case with edit button
                    case buttons[0]:

                        buttons[0].style.display = 'inline-block';
                        buttons[1].style.display = 'none';
                        buttons[2].style.display = 'none';
                        buttons[3].style.display = 'none';
                        buttons[4].style.display = 'none';
                        (function () {
                            var x = document.getElementById("myDIV");
                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                // x.style.display = "none";
                            }
                        })();

                        break;

                    // case with back button
                    case buttons[1]:

                        buttons[0].style.display = 'none';
                        buttons[1].style.display = 'inline-block';
                        buttons[2].style.display = 'none';
                        buttons[3].style.display = 'none';
                        buttons[4].style.display = 'none';
                        (function () {
                            var x = document.getElementById("myDIV");
                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                // x.style.display = "none";
                            }
                        })();

                        break;

                    case buttons[2]:

                        buttons[0].style.display = 'none';
                        buttons[1].style.display = 'none';
                        buttons[2].style.display = 'inline-block';
                        buttons[3].style.display = 'none';
                        buttons[4].style.display = 'none';

                        (function () {
                            var x = document.getElementById("myDIV");
                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                // x.style.display = "none";
                            }
                        })();

                        break;


                    case buttons[3]:

                        buttons[0].style.display = 'none';
                        buttons[1].style.display = 'none';
                        buttons[2].style.display = 'none';
                        buttons[3].style.display = 'inline-block';
                        buttons[4].style.display = 'none';

                        (function () {
                            var x = document.getElementById("myDIV");
                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                // x.style.display = "none";
                            }
                        })();

                        break;
                    case buttons[4]:

                        buttons[0].style.display = 'none';
                        buttons[1].style.display = 'none';
                        buttons[2].style.display = 'none';
                        buttons[3].style.display = 'none';
                        buttons[4].style.display = 'inline-block';

                        (function () {
                            var x = document.getElementById("myDIV");
                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                // x.style.display = "none";
                            }
                        })();

                        break;

                    //  default optional
                    default:
                        console.log("nothing to do!!");
                        break;

                }

            });

        });
    </script> -->


</body>

</html>